<!DOCTYPE html>
<html lang="en" class="bg-[#D9D9D9]">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../dist/output.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Gaba</title>
</head>
<body class="h-screen">
  <header class="flex flex-row-reverse fixed top-0 left-0 right-0 flex-initial w-full sm:h-20 h-14 bg-[#F0F0F0] items-center">
      <div class="flex-initial w-6 md:mr-18 mr-8 sm:ml-32 ml-24">
      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="flex space-x-2 py-2 items-center" type="button">
        <img src="../public/images/user_icon.png" class="scale-[2] w-full">
    </button>
    <div id="dropdown" class="z-10 hidden bg-[#16afb8] divide-y divide-gray-100 rounded-lg shadow w-44">
      <ul class="py-2 text-base font-medium text-[#F0F0F0]" aria-labelledby="dropdownDefaultButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#369398]">Profile</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#369398]">Settings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#369398]">Sign out</a>
        </li>
      </ul>
  </div>
      </div>
      </button>
    </div>
    <div class="flex items-end flex-initial w-6">
      <button id="dropdownClassroomButton" data-dropdown-toggle="dropclass" class="text-[#F0F0F0] bg-[#16afb8] hover:bg-[#369398] focus:ring-4 focus:outline-none focus:ring-[#16afb8] text-lg font-medium rounded-lg sm:px-3 px-2 sm:py-3 py-2 text-center inline-flex items-center" type="button">Turmas <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
      <!-- Dropdown menu -->
      <div id="dropclass" class="z-10 hidden bg-[#16afb8] divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="py-2 text-base font-medium text-[#F0F0F0]" aria-labelledby="dropdownClassroomButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-[#369398]">1 A</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-[#369398]">2 B</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-[#369398]">5 C</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-[#369398]">9 D</a>
            </li>
          </ul>
      </div>
    </div>
  </header>
  <div class="min-h-screen bg-[#d9d9d9] fixed top-0">
    <div class="sidebar min-h-screen w-[3.8rem] overflow-hidden border-r rounded-br-md border-transparent bg-[#16afb8] shadow-lg hover:w-[12rem] hover:shadow-lg">
      <div class="flex h-screen flex-col justify-between pt-2 pb-6">
        <div>
          <div class="w-max p-0 -ml-10">
            <img src="../public/images/gaba_png.png" class="w-60 -mt-10 -mb-3" alt="Logo Gaba">
          </div>
          <ul class="mt-0 space-y-2 tracking-wide">
            <li class="min-w-max">
              <a href="#" aria-label="dashboard" class="bg group flex items-center space-x-6 px-4 py-3 text-[#F0F0F0] hover:bg-[#16afb8]">
                <svg class="-ml-0 h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
                  <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
                  <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
                </svg>
                <span class="-mr-1 font-medium">Dashboard</span>
              </a>
            </li>
            <li class="min-w-max">
              <a href="#" class="bg group flex items-center space-x-6 px-4 py-3 text-[#F0F0F0] hover:bg-[#369398]">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-6" viewBox="0 0 20 20" fill="currentColor">
                  <path class="fill-current text-gray-300 group-hover:text-cyan-300" fill-rule="evenodd" d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z" clip-rule="evenodd" />
                  <path class="fill-current text-gray-600 group-hover:text-cyan-600" d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z" />
                </svg>
                <span class="font-medium">Categories</span>
              </a>
            </li>
            <li class="min-w-max">
              <a href="#" class="group flex items-center space-x-6 px-4 py-3 text-[#F0F0F0] hover:bg-[#369398]">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-6" viewBox="0 0 20 20" fill="currentColor">
                  <path class="fill-current text-gray-600 group-hover:text-cyan-600" fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd" />
                  <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" />
                </svg>
                <span class="font-medium">Reports</span>
              </a>
            </li>
            <li class="min-w-max">
              <a href="#" class="group flex items-center space-x-6 px-4 py-3 text-[#F0F0F0] hover:bg-[#369398]">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-6" viewBox="0 0 20 20" fill="currentColor">
                  <path class="fill-current text-gray-600 group-hover:text-cyan-600" d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z" />
                  <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z" />
                </svg>
                <span class="font-medium">Other data</span>
              </a>
            </li>
            <li class="min-w-max">
              <a href="#" class="group flex items-center space-x-6 px-4 py-3 text-[#F0F0F0] hover:bg-[#369398]">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-6" viewBox="0 0 20 20" fill="currentColor">
                  <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                  <path class="fill-current text-gray-600 group-hover:text-cyan-600" fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
                </svg>
                <span class="font-medium">Finance</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>












<div class="container bg-[#16afb8] ml-[90px] rounded-lg mx-auto mr-[40px] max-w-6xl">
  <div class="ml-[20px] mt-[90px] mr-[20px]">
    <div class="content-center grid gap-10 bg-[#16afb8] mb-10 ml-8 rounded-lg mr-8">
      <label class="grid"></label>
    </div>
    <div class=" rounded-lg bg-[#F0F0F0] dark:bg-[#F0F0F0] mb-8 mt-8 flex items-center h-10 grid grid-cols-12">
      <label for="user-text" class="text-x2 col-span-2 text-[#16afb8] place-self-center ml-4 basis-1/3">Nome da Atividade:</label>
      <div class="flex flex-col ml-2 basis-2/3 col-span-10">
        <textarea id="user-text" class="block w-full px-0 text-md border-0 bg-[#F0F0F0] dark:text-[#16afb8] dark:placeholder-gray-400 self-stretch" placeholder="Digite seu texto aqui..." style="resize: none; width:600px; height: 1.5em; line-height: 1.5em;" required=""></textarea>
      </div>
    </div>    
    <div class="flex items-center max-w-6xl grid grid-cols-12 bg-[#F0F0F0] dark:bg-[#F0F0F0] rounded-lg">
      <label for="user-text" class="text-[#16afb8] mb-8 text-center rounded-l-lg">Matéria:</label>
      <div class="px-4 py-2 rounded-r-lg mb-8 col-span-5">
        <textarea id="textContentActivies" rows="1" class="block w-full px-0 text-sm text-[#16afb8] border-0 bg-[#F0F0F0] dark:text-[#16afb8]  dark:placeholder-gray-400" placeholder="Digite seu texto aqui..." style="resize: none;" required=""></textarea>
      </div>
      <label class="bg-[#16afb8] text-[#16afb8]">espaço</label>
      <label for="user-text" class="text-[#16afb8] bg-[#F0F0F0] mb-8 text-center rounded-l-lg">Data:</label>
      <div class="px-4 py-2 rounded-lg bg-[#F0F0F0] dark:bg-[#F0F0F0] dark:bg-[#F0F0F0] mb-8 col-span-3">
        <textarea id="textDateActivities" rows="1" class="block w-full px-0 text-[#16afb8] border-0 bg-[#F0F0F0] dark:text-[#16afb8] dark:placeholder-gray-400" placeholder="Digite os números aqui..." style="resize: none;" required=""></textarea>
      </div>
    </div>
  </div>
  <div class="content-center grid gap-10 bg-[#16afb8] mb-10 ml-8 rounded-lg mr-8">
    <label class="grid">...</label>
  </div>
</div>

<div class="content-center bg-[#16afb8] ml-[90px] rounded-lg mx-auto mr-[20px] max-w-6x1" style="margin-top: 30px;">
  <div class="content-center grid gap-10 bg-[#16afb8] mb-10 ml-8 rounded-lg mr-8">
    <label class="grid"></label>
  </div>
  <div class="content-center grid gap-10 bg-[#F0F0F0] mb-10 ml-8 rounded-lg mr-8">
    <div class="ml-[20px] mt-5 mr-[20px] mb-5">
      <div class="place-content-evenly flex gap-10">
        <button id="printButton" class=" text-[#F0F0F0] bg-[#16afb8] hover:bg-[#369398] focus:ring-4 focus:outline-none focus:ring-[#16afb8] text-lg font-medium rounded-lg md:px-10 px-2 sm:py-3 py-2 text-center inline-flex items-center">Imprimir</button>
        <button id="addQuestionButton" class="text-[#F0F0F0] bg-[#16afb8] hover:bg-[#369398] focus:ring-4 focus:outline-none focus:ring-[#16afb8] text-lg font-medium rounded-lg md:px-10 px-2 sm:py-3 py-2 text-center inline-flex items-center">Adicionar Pergunta</button>
      </div>

  </div>

</div>
      <div class="ml-8 mt-10 mr-8">
          <label for="description" class="block mb-2 text-sm font-medium text-[#16afb8]">Description</label>
          <div class="w-full mb-4 bg-[#D9D9D9] border border-[#D9D9D9] rounded-lg">
              <div class="flex items-center justify-between px-3 py-2 border-b">
                <div class="flex flex-wrap items-center divide-[#D9D9D9] sm:divide-x">
                    <div class="flex items-center space-x-1 sm:pr-4">
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Attach file</span>
                        </button>
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Embed map</span>
                        </button>
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Upload image</span>
                        </button>
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Format code</span>
                        </button>
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Add emoji</span>
                        </button>
                    </div>
                    <div class="flex-wrap items-center hidden space-x-1 md:flex sm:pl-4">
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Timeline</span>
                        </button>
                        <button type="button" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Download</span>
                        </button>
                    </div>
                </div>
                <button type="button" data-tooltip-target="tooltip-fullscreen" class="p-2 text-gray-500 rounded cursor-pointer sm:ml-auto hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 11-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm9 1a1 1 0 010-2h4a1 1 0 011 1v4a1 1 0 01-2 0V6.414l-2.293 2.293a1 1 0 11-1.414-1.414L13.586 5H12zm-9 7a1 1 0 012 0v1.586l2.293-2.293a1 1 0 111.414 1.414L6.414 15H8a1 1 0 010 2H4a1 1 0 01-1-1v-4zm13-1a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 010-2h1.586l-2.293-2.293a1 1 0 111.414-1.414L15 13.586V12a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Full screen</span>
                </button>
                <div id="tooltip-fullscreen" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 335px, 0px);">
                    Show full screen
                    <div class="tooltip-arrow" data-popper-arrow=""></div>
                </div>
            </div>
            <div class="px-4 py-2 rounded-b-lg bg-[#F0F0F0]">
              <textarea id="description" rows="8" class="block w-full px-0 text-sm text-[#16afb8] border-0 bg-[#F0F0F0] focus:ring-0 dark:placeholder-[#16afb9]" placeholder="Write event description here..." required="">The 4th Digital Transformation and Industry 4.0 Free Online Conference Organized by Flowbite and Themesberg, Live on Saturday 26th Nov at 02:00 pm GMT | 04:00 pm EET on Zoom Webinars</textarea>
          </div>
        </div>
        <div class="content-center grid gap-10 bg-[#16afb8] mb-10 ml-8 rounded-lg mr-8">
          <label class="grid"></label>
        </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>