//-
    Import logged_in
extends layouts/logged_in.pug
block content
    //Main
    .flex.flex-col.items-center.justify-center.mt-8
        //Section Filter-activities
        .p-4.flex.flex-row.gap-4.items-center.justify-center.rounded-2xl(class='min-w-[200px] w-fit bg-[#16afb8]')
            select#activities_select.p-3.rounded-2xl.focus-none.text-2xl(class='w-full bg-[#F0F0F0] dark:bg-[#1F1F1F] text-[#16afb8]' style="padding-right: 45px;")
                option(selected disabled) Selecione uma Atividade
            button#btn_view(class="bg-[#F0F0F0] text-[#16afb8] p-4 rounded-2xl") Ver

    // Questions
    div#questions_div(class="mt-4")
    script(src='/javascripts/front_activities.js')
