//-
    Import logged_in layout
extends layouts/logged_in.pug
block content
    div(class="flex-row rounded-2xl mr-6 flex-wrap gap-3 sm:flex-nowrap mt-5 px-8 py-4 items-center bg-[#16afb8]")
        h1.text-white Olá
    div(class="flex-row rounded-2xl mr-6 flex-wrap gap-3 sm:flex-nowrap mt-5 px-8 py-4 items-center bg-[#16afb8]")
        h1.text-white Olá
    script(src='/javascripts/front_create.js')
