//-
    Import logged_in layout
extends layouts/logged_in.pug
block content
    div(class="flex-row rounded-2xl mr-6 flex-wrap gap-3 sm:flex-nowrap mt-5 px-8 py-4 items-center bg-[#16afb8]")
        h1.text-white Olá
    div(class="flex-row rounded-2xl mr-6 flex-wrap gap-3 sm:flex-nowrap mt-5 px-8 py-4 items-center bg-[#16afb8]")
        //- RichTextEditor Imports
        link(rel='stylesheet', href='/richtexteditor/rte_theme_default.css')
        script(src="/richtexteditor/rte.js")
        script(src="/richtexteditor/plugins/all_plugins.js")

        //- RichTextEditors
        div#div_editor_1.rounded-2xl.p-4
    script(src='/javascripts/front_create.js')
