//-
  Import logged_in layout
extends layouts/logged_in.pug
block content
  //Main
  .flex.flex-col.items-center.justify-center
    h1.text-3xl.font-extrabold.mt-1.mb-8(class='text-[#16afb8]') Avaliações diagnósticas
    //Container
    .container.flex.flex-wrap.flex-none.gap-1.border-box.justify-center.py-4
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_1ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 1° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_2ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 2° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_3ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 3° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_4ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 4° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_5ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 5° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_6ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 6° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_7ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 7° Ano    
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_8ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 8° Ano
      //Box 33%
      .w33(class='max-w-1/3 max-h-1/3')
        .border.border-gray-300.rounded-xl.shadow.p-3.w-full.h-full(class='bg-[#F0F0F0]')
          a.items-center.text-center(href='#')
            img.rounded-t-lg(src='./images/avaliacao_9ano.png', alt='')
            h5.mb-2.text-4xl.font-bold.tracking-tight(class='text-[#16afb8]') 9° Ano