//-
    Import logged_in layout
extends layouts/logged_in.pug
block content
    //Main
    .flex.flex-col.items-center.justify-center.mt-8
        //Section Filter-class
        .p-4.flex.flex-row.gap-4.items-center.justify-center.rounded-2xl(class='min-w-[200px] w-[90%] bg-[#16afb8]')
            select#activities.p-3.rounded-2xl.text-2xl(class='w-2/3 bg-[#F0F0F0] dark:bg-[#1F1F1F] text-[#16afb8]')
                option Atividade
            select#classrooms.p-3.rounded-2xl.text-2xl(class='w-1/3 bg-[#F0F0F0] dark:bg-[#1F1F1F] text-[#16afb8]')
                option Turma
        //Section Classes
        .flex.flex-col.mt-5.rounded-2xl.p-3(class='bg-[#16afb8] min-w-[250px] w-[90%]')
            .flex.flex-row.items-center
                .relative.flex(class='w-full min-w-[98px]')
                    input.w-full.py-2.rounded-3xl.text-sm.text-center(type='text' placeholder='Nome do aluno' class='bg-[#F0F0F0] dark:bg-[#1F1F1F] sm:text-xl text-[#16afb8]')
                    ion-icon.text-xl.absolute.transform(name='search' class='top-1/2 right-2.5 -translate-y-1/2 text-[#16afb8]')
            //Students list
            .rounded-2xl.mt-5.p-3.mb-2.shadow.text-2xl(class='sm:text-3xl dark:shadow-[#7A7A7A] bg-[#F0F0F0] dark:bg-[#1F1F1F] text-[#16afb8]')
                ul#studentsList
    
        .flex.items-center.w-full.justify-end
            button.h-12.w-20.rounded-xl.mt-5.text-white.text-lg.text-center.mr-6(class='bg-[#16afb8] sm:w-24 sm:text-xl sm:mr-10 lg:mr-16')
                | Exportar
    //Container Students
    script(src="./javascripts/front_grades.js")