link(rel="stylesheet" href="./stylesheets/styles.css")
div(class="w-screen h-screen")
    div(class="max-w-1/3 m-auto")
        header#header
            p.text-xl Nome:
            p.text-xl Data:
            p.text-xl Matrícula:

        div#questions_div.mt-4

script(src='/javascripts/front_print.js')
