extends layouts/logged_in.pug

block content
  .flex.flex-col.items-center.justify-center.mt-8
    h1.text-3xl.font-extrabold.mt-1.align-top(class='text-[#16afb8]') Atualizar Informações
    form.p-4.flex.items-center.justify-center.flex-col.rounded-2xl(class='min-w-[200px] w-9/12 bg-[#16afb8]' method="post" action='/profile')
      div.w-full.flex.gap-4
        div.flex.flex-col.ml-2(class='w-1/2')
          label.text-2xl.mb-1(for= "first_name" class='text-[#F0F0F0]') Primeiro Nome
          input.w-full.p-3.rounded-2xl.text-xl(name="first_name" class='bg-[#F0F0F0] text-[#16afb8] mb-2' required='')
          label.text-2xl.mb-1(for= "last_name" class='text-[#F0F0F0]') Último Nome
          input.w-full.p-3.rounded-2xl.text-xl(name="last_name" class='bg-[#F0F0F0] text-[#16afb8] mb-2' required='')
          label.text-2xl.mb-1(for= "encrypted_password" class='text-[#F0F0F0]') Nova Senha
          input.w-full.p-3.rounded-2xl.text-xl(name="encrypted_password" class='bg-[#F0F0F0] text-[#16afb8] mb-2' required='')
      div.w-full.mr-4.ml-4
        label.text-2xl.mb-1(for= "email" class='text-[#F0F0F0]') Email
        input.w-full.p-3.rounded-2xl.text-xl(type='email' name="email" class='bg-[#F0F0F0] text-[#16afb8] mb-2')
      button.rounded-3xl.h-12.px-6.py-2.mt-5.text-2xl(type='submit' class='bg-[#16afb8] sm:bg-[#F0F0F0] text-[#F0F0F0] sm:text-[#16AFB8] w-24 sm:w-64 sm:px-5 py-3.5') Salvar alterações

  script(src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js')
