//-
    Import logged_in layout
extends layouts/logged_in.pug
block content
  // Main
  .flex.flex-col.items-center.justify-center
    h1.text-3xl.font-extrabold.mt-1.align-top(class='text-[#16afb8]') Bem vindo(a)!
    video.px-5.w-full.max-w-2x1.h-90.my-5.max-h-screen(class='z-0 max-w-3/4 max-h-3/5 md:px-32 lg:px-64', controls='')
    source(src='/docs/videos/flowbite.mp4', type='video/mp4')
    a(href="/menu") 
      button.font-medium.rounded-lg.shadow.text-base.px-36.text-center(type='button', class='bg-[#16afb8] hover:bg-[#369398] text-[#F0F0F0] py-3.5') Comece aqui