doctype
html(lang="pt-BR")
    head
        title Gaba · #{title}
        block head_scripts
        //Imports
        link(rel="stylesheet" href="./stylesheets/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css")
        script(src="https://cdn.tailwindcss.com")
        link(rel='icon', type='image/x-icon', href='./images/gaba_logo.png')
    body(class='w-full h-full bg-[#D9D9D9]')
        //Import sidebar-header
        include ../includes/head.pug
        include ../includes/sidebar.pug
        main(class='mt-24 ml-[5rem]')
            block content
        block body_scripts
            //Scripts
            script(src="./javascripts/darkmode.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js")